 <%= form_with model: @post, url: '/create' do |form| %>
    <h1>Create a new post</h1>
    <%= form.label :title, 'Title' %>
    <%= form.text_field :title %>
    <%= form.label :text, 'Content' %>
    <%= form.text_area :text %>
    <div>
    <%= form.submit "Submit"%>
    <a href= javascript:history.back()>
    <div>Go Back</div>
    </a>
    </div>
  <% end %>