<div class="post">
  <h2> <%= @post.title %></h2>
  <div class="counter"><p>Comments: <%= @post.comments_counter %>,Likes: <%= @post.likes_counter %><p></div>
  <div class='text'><%= @post.text %></div> 
  <div class='comments'>

    <%= form_with model: @like, class: "like-form", url: '/like/create' do |form| %>
    <%= hidden_field_tag(:post_id, @post.id) %>
    <%= form.submit "Like", class: "likeornot" %>
    <% end %>


    <% @comments.each do |comment| %>
      <p><b><%= User.find_by(id: comment.user_id).name %>: </b><%= comment.text %></p>
    <% end %>
  </div>
  <%= form_with model: @comment, class: "comment-form", url: @post.id.to_s+'/create' do |form| %>
  <h3>Do a comment: </h3>
    <%= form.text_field :text%>
    <%= form.submit "Submit", class: "submit" %>
  <% end %>
</div>